:root {
  --basic-font: 'Roboto', 'Arial', sans-serif;
  --body-width:  1200px;
  --conteiner-width:  1146px;
  --basic-black: #323232;
  --white:  #FFFFFF;
  --slider-hover: rgba(255,255,255,0.4);
  --basic-bg-color: rgba(255, 255, 255, 0.3);
  --border-color:  rgba(178, 178, 178, 0.52);
  --box-shadow-link:  0px 2px 2px rgba(172, 16, 0, 0.64);
  --box-shadow-link-second:  0px 2px 2px rgba(172, 16, 0, 1);
  --bg-color-slider-1: #849d8f;
  --bg-color-slider-2: #8996a6;
  --bg-color-slider-3: #9d8b84;
  --nav-menu-box-shadow:  0px 20px 20px rgba(0, 0, 0, 0.4);
  --basic-dark: #aba9a7;
  --form-color: #F8F7F4;
  --basic-shadow: rgba(172, 16, 0, 0.25);
  --basic-shadow-color: #696969;
  --slider-shadow: #AC1000;
  --slider-inset-shadow: #942718;
  --text-shadow: rgba(160, 32, 11, 0.76);
  --underline:rgba(50, 50, 50, 0.3);
  --link-active: #EDEDED;
  --item-color-hover: #FBDED7;
  --item-color-active: #F6B5A5;
  --form-border-color: #D3D3D2;
  --about-us-color:  #eee;
  --basket-inner: #E84D37;
  --basket-body:#343434;
  --basket-hover: #E84D37;
  --color-blog: #5A5A5A;
  --price-shadow:  rgba(49, 50, 53, 0.5);
  --price-control-color: #9db1a5;
  --pagination-current: #D07058;
  --arrow-color: #FFBC9E;
  --gradient-bg-1: #F26843;
  --gradient-bg-2: #E74A35;
  --gradient-bg-3:rgba(0, 0, 0, 0.07);
  --border-color-after: rgba(0,0,0,0.2);
  --footer-icon-border-color: rgba(255, 255, 255, 0.5);
  --footer-svg-fill: rgba(255, 255, 255, 0.8);
  --footer-border-active-color: rgba(255, 255, 255, 0.7);
  --form-border-color-input: rgba(46, 136, 228, 0.52);
  --basket-border-color: #CACAC7;
  --bascket-color: #999999;
  --default-black:  #000;
  --color-close-btn: #231F20;
  --darken-layer: rgba(0,0,0,0.5);
  --link-color-underline:rgba(255, 188, 158, 0.3);
  --link-color-hover:#FFBC9E;
  --catalog-hover:rgba(255,255,255,0.2);
  --bg-about-us: #E6D7B1;
  --bg-promo1: #FD92AD;
  --bg-promo2: #E2852C;
}
@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local('Roboto'),
  url('../fonts/roboto.woff2') format('woff2'),
  url('../fonts/roboto.woff') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local('Roboto Bold'),
  url('../fonts/robotobold.woff2') format('woff2'),
  url('../fonts/robotobold.woff') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: local('Roboto Medium Bold'),
  url('../fonts/robotomedium.woff2') format('woff2'),
  url('../fonts/robotomedium.woff') format('woff');
}

.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.page-body {
  font-family:  var(--basic-font);
  font-weight: 700;
  padding:  0px;
  height: 100%;
  margin:  0 auto;
  width: 100%;
  background-repeat: no-repeat;
  background-position: 50% 0;
  transition: 500ms ease;
  background-color: var(--bg-color-slider-1);
  /*background-color: var(--default-black);*/
  padding-top: 6px;
}
.page-bg-1 {
  background-color: var(--bg-color-slider-1);
  background-image: url(../img/icecream-bg-1.png);
  opacity: 1;
}

.page-bg-2 {
  background-color: var(--bg-color-slider-2);
  background-image: url(../img/icecream-bg-2.png);
}
.page-bg-3 {
  background-color: var(--bg-color-slider-3);
  background-image: url(../img/icecream-bg-3.png);
}
a {
  text-decoration: none;
}

.slider-controls  {
  position: absolute;
  bottom: 113px;
  left:  27px;
  font-size: 0;
}

.slider-controls label {
  position: relative;
  font-size: 0;
  vertical-align: baseline;
  top:  50px;
  display: inline-block;
  width: 21px;
  height: 21px;
  border: 2px solid var(--white);
  border-radius: 50%;
  box-sizing: border-box;
}
/*how ?*/
.slide-1:checked ~ .slider-controls label[for='slide-1'],
.slide-2:checked ~ .slider-controls label[for='slide-2'],
.slide-3:checked ~ .slider-controls label[for='slide-3'] {
  background-color: var(--white);
}


.nav-menu {
  box-sizing: border-box;
  padding:  0 27px;
  display: flex;
  justify-content: flex-start;
  align-items:  center;
  position: relative;

  width: var(--body-width);
  margin:  0 auto;
}

.main-header {
  width: var(--body-width);
  margin:  0 auto;

  background-repeat: no-repeat;
  background-position: 50% 50%;
  /*margin-top: 9px;*/
}

.main-header-logo {
  margin-right:  10px;
  display: block;
  height: 64px;
}


.nav-menu-list,
.nav-sub-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  color:  var(--white);
  position: relative;
}

.nav-sub-menu {
  position: absolute;
  z-index:  15;
  top: 31px;
  left:-7px;
  background-color: var(--white);
  border-radius: 4px;
  color: var(--basic-dark);
  width: 143px;
  background: var(--white);
  box-shadow: var(--nav-menu-box-shadow);
  border-radius: 4px;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  box-sizing: border-box;
  display: none;

}
.nav-sub-menu-link {
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-black);
  font-weight:  400;
  padding: 5px 0px 5px 21px;
  display: block;
}
.nav-sub-menu-new {
  font-weight:  700;
  position:  relative;
}
.nav-sub-menu-item {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 5px;
}
.nav-sub-menu-item:nth-child(2) {
  margin-top:8px;
}
.nav-sub-menu-item:last-child {
margin-bottom:2px;
}
.nav-sub-menu-item:nth-child(1) {
  position: relative;
  padding-bottom: 6px;
  margin-bottom: 5px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
}
.nav-sub-menu-item:nth-child(1):after {
  content: '';
  position: absolute;
  display: block;
  top: 32px;
  left: 5px;
  width: 92%;
  height: 1px;
  background-color: var(--border-color-after);
}
.nav-menu-item:hover .nav-sub-menu {
  display: block;
}
.nav-menu-link:active {
  color:  var(--basic-black);
  background-color: var(--link-active);
  box-shadow: inset 0px 2px 1px var(--basic-shadow-color);
  border-radius: 26px;
}
.nav-sub-menu-item:hover {
  background-color: var(--item-color-hover);
}
.nav-sub-menu-item:active {
  background-color: var(--item-color-active);
}
.current-menu-page {
  background-color: var(--pagination-current);
  color:  var(--white);
}
.nav-menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.left-column,
.right-column {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
  height: 100%;
  padding: 0;
  list-style: none;
}
.right-column {
  justify-content: flex-end;
}
.nav-menu-item {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  margin-right:8px;

}


.left-column .nav-menu-item:nth-last-child(1) {
  left:-1px;
}
.right-column .nav-menu-item  {
  /*margin-right: 2px;*/
  margin-left: 3px;
  /*margin:0;*/



}
.enter-login svg {
  padding: 2px 0 0px 4px;
}



.nav-menu-item:after {
  content: '';
  height: 25px;
  width: calc(100%);
  position: absolute;
  left: 0;
  bottom:  -20px;
}
.nav-menu-link:after {
  content: '';
  background-color: var( --basic-bg-color);
  height: 1px;
  width: calc(100% - 26px);
  position: absolute;
  bottom: 0;
  left: 14px;
}

.nav-menu-list .left-column {
  margin-bottom: 20px;
}

.nav-menu-link {
  color:  inherit;
  font-family: var(--basic-font);
  font-weight:  bold;
  font-size: 16px;
  line-height: 18px;
  padding-top: 18px;
  padding-bottom:  10px;
  padding:  4px 13px 5px 13px;
  border-radius: 26px;
  cursor: pointer;
  height: 31;
  box-sizing: border-box;
}
.nav-menu-link:hover {
  background-color: var(--white);
  font-family: var(--basic-font);
  font-style: normal;
  font-weight: bold;
  color: var(--basic-black);
}
.link-for-search {
  background-position: 50% 50%;
  box-sizing: border-box;
  background-color: var(--basic-bg-color);
  transition: 300ms ease;
  border-radius: 50%;
  display: block;
  width: 32px;
  height: 32px;
  padding:  8px 8px 16px;
}
.link-for-search path {
  fill: var(--white);
}
.nav-menu-item-search:hover .link-for-search path {
  transition: 300ms ease;
  fill: var(--basic-black);
}
.nav-menu-item-search {
  position: relative;
}
.input-search {
  display: block;
  font-size: 14px;
  line-height: 16px;
  padding:  15px;
  width: 100%;
  border: 2px solid var(--form-border-color);
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  font-weight: bold;
}



.blog-form-email-sub:hover,
.input-search:hover {
  border: 2px solid var(--form-border-color);
}

.feedback-input-field:active,
.blog-form-email-sub:active,
.input-search:active {
  border: 2px solid var(--form-border-color-input);
  box-sizing: border-box;
  border-radius: 4px;
}
.input-search-wrapper {
  position: absolute;
  display: none;
  top: calc(100% + 4px);
  right: 0;
  background: var(--form-color);
  width: 321px;
  box-shadow: var(--nav-menu-box-shadow);
  border-radius: 4px;
  padding:  20px 15px;
}
.link-for-search:after,
.nav-menu-last-icons:after,
.nav-menu-last-icons:after {
  display: none;
}
.nav-menu-item-search:hover .input-search-wrapper {
  display: block;
}
.nav-menu-last-icons {
  /*display: block;*/
  display: flex;
  justify-content: flex-end;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  padding: 10px 17px 8px 16px;
  position: relative;
  color: var(--white);
  background-color: var(--basic-bg-color);
  border-radius: 20px;
  /*max-height: 32px;*/
  box-sizing: border-box;
}
.nav-menu-search {
  background-color:  var(--basic-bg-color);
  border-radius: 20px;
  position: relative;
  width: 92px;
  margin-left: 10px;
  margin-right: 5px;
}
.nav-menu-search svg{
  position: absolute;
  left: 12px;
  top: 6px;
  display: block;
}
/*mifomen*/

.nav-menu-search:hover .login-form {
  display: block;
}
.nav-menu-basket {
  min-width: 118px;
  /*mifomen*/
  margin-right:0;
}
.basket-svg {
  padding: 1px 1px 0px 2px;
}
.basket:hover .basket-svg{
  fill: var(--black);
}
.svg-basket-inner {
  fill: var(--basket-inner);
}
.svg-basket-body {
  fill: var(--basket-body);
}
.basket-not-empty svg{
  padding: 0;
  margin-right: 7px;
}
.basket-not-empty {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  color: var(--basic-black);
  background-color: var(--white);
  border-radius: 20px;
  min-height:  32px;
  vertical-align: top;
  margin-right:0px;
}
.basket-not-empty:hover .basket-svg-not-empty{
  fill: var(--basket-hover);
}
.nav-menu-basket:hover .basket-svg-not-empty {
  fill: var(--basket-inner);
}
.nav-menu-link,
.basket-svg {
  fill:  var(--white);
}
.nav-menu-item:hover .nav-menu-link  {
  font-weight: 500;
  color:  var(--basic-black);
  background-color:  var(--white);
}
.nav-menu-item:hover .nav-menu-link {
  fill:  var(--basic-black);
}
.login-form {
  position: absolute;
  display: none;
  /*display: block;*/
  right:  2px;
  z-index: 15;
  padding: 18px 18px 20px 18px;
  background: var(--form-color);
  box-shadow: var(--nav-menu-box-shadow);
  border-radius: 4px;
  min-width: 277px;
  /*max-width: 277px;*/
  box-sizing: border-box;
  top: calc(100% + 4px);
}
.login-form-email,
.login-form-password {
  padding: 10px 15px 10px 12px;
  background-color: var(--white);
  border: 2px solid var(--form-border-color);
  outline: none;
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  box-sizing: border-box;
}
.login-form-password {
  padding: 8px 15px 15px 12px;
}
.login-form-email {
  margin-bottom: 21px;
}
.login-form-password {
  margin-bottom: 22px;
}
.feedback-input-field:hover,
.login-form-email:hover,
.login-form-password:hover {
  border: 2px solid var(--border-color);
}
.feedback-input-field:focus,
.feedback-input-field:active,
.login-form-email:focus,
.login-form-email:active,
.login-form-password:focus,
.login-form-password:active {
  border: 2px solid var(--form-border-color-input);
}
.login-form-email {
  font-family: var(--basic-font);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}
.login-form-btn {
  font-weight: bold;
  font-size: 18px;
  line-height: 16px;
  color: var(--white);
  background: linear-gradient(180deg, var(--gradient-bg-1) 0%, var(--gradient-bg-2) 100%);
  box-shadow: 0px 1px 2px var(--basic-shadow);
  border-radius: 26px;
  padding:  12px 25px 15px 26px;
  border: 0;
  margin-right: 19.6px;

}
.login-form-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  align-items: center;
}

.login-form-link {
  position: relative;
  color: var(--basic-black);
  font-size: 13px;
  /*padding: 10px 0 0 px;*/
  line-height: 15px;
  border-bottom:1px solid var(--underline);
  font-size: 13px;
  line-height: 15px;
  box-sizing: border-box;
}
.login-form-list {
  list-style: none;
  max-width: 119px;
  box-sizing: border-box;
  padding: 0;
  display: flex;
  /*width: 100%;*/
  flex-direction: column;
  justify-content: center;
  /*width: 120px;*/
  /*margin: 0px 0px 0px 8px;*/
  margin:0;
  padding: 0;
  padding-bottom: 5px;
}
.login-form-item:nth-last-child(1) {
  margin-top: 5px;
}
.login-form-item {
  /*padding: 8px 0 3px 11px;*/

}

.nav-menu-work-time-tel:hover,
.nav-menu-work-time-tel:active,
.login-form-item:active .login-form-link,
.login-form-item:hover .login-form-link {
  border-bottom-color: var(--link-color-underline);

  /*border-bottom:1px solid var(--underline);*/

  color: var(--link-color-hover);
  cursor: pointer;


}
.nav-menu-work-time {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  min-width: 167px;
  width: 168px;
  justify-content: flex-end;
  right: 27px;
  top: 70px;
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
  font-weight: bold;
  color:  var(--white);
  text-align:  right;

}
/*.nav-menu-work-time span {
margin-bottom: 6px;
}*/
.nav-menu-work-time-tel {
  font-size: 22px;
  line-height: 24px;
  font-weight: bold;
  font-size: 22px;
  line-height: 24px;
  color:  var(--white);
  margin-top: 7px;
}

/*mifomen*/
.login-form {
  /*display: block;*/
}
.nav-menu-work-time-tel:hover {
  cursor: pointer;
}
.main-content {
  margin: 0 auto;
  width: var(--body-width);
  box-sizing: border-box;
  /*margin-bottom: 20px;*/
}
.main-catalog {
  margin-bottom: 32px;
}
.slider-1,
.slider-2,
.slider-3 {
  display: inline-block;
  width: 21px;
  box-sizing: border-box;
  height: 21px;
  margin-right: 8px;
  vertical-align: top;
  font-size: 0;
  color: var(--white);
  border: 2px solid var(--white);
  border-radius: 50%;
  cursor: pointer;
}
.slider-1:hover,
.slider-2:hover,
.slider-3:hover {
  background-color: var(--slider-hover);
}
.slider-3 {
  margin-right: 0;
}
.slider-controls label:checked {
  background-color: var(--white);
}
/*  .slider-controls label:hover {
background-color: var(--slider-bg);
}*/


.slider {
  width: var(--body-width);
  margin:  0 auto;
  height:  515px;
  position: relative;
  max-height: 515px;
}
.slider-list {
  list-style: none;
  padding: 0;
  font-size: 60px;
  color:  var(--white);
  height: 100%;
}
.slider-item {
  padding: 0;
  text-align:  center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content:  flex-end;
  align-items: center;
}
.slider-item-title {
  font-size: 60px;
  line-height: 60px;
  text-align:  center;
  bottom:  0;
  width: 672px;
  margin: 0;
  margin-bottom: 27px;
  padding: 0;
}
.slider-item-link {
  background: linear-gradient(180deg, var(--gradient-bg-1) 0%, var(--gradient-bg-2) 100%);
  box-shadow: 0px 2px 2px var(--box-shadow-link);
  border-radius: 70px;
  font-family: var(--basic-font);
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: 0.05em;
  color: var(--white);
  text-shadow: 0px 2px 5px var(--text-shadow);
  padding:  9px 23px;
  margin-bottom:  41px;
}
.slider-item-link:hover {
  background: linear-gradient(0deg, var( --basic-bg-color), var( --basic-bg-color)), linear-gradient(180deg, var(--gradient-bg-1) 0%, var(--gradient-bg-2) 100%);
  box-shadow: 0px 2px 2px var(--slider-shadow);
}
.slider-item-link:active{
  background: linear-gradient(0deg, var(--gradient-bg-3), var(--gradient-bg-3)), linear-gradient(180deg, var(--gradient-bg-1) 0%, var(--gradient-bg-2) 100%);
  box-shadow: inset 0px 2px 2px var(--slider-inset-shadow);
}
.promotions {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  box-sizing:  border-box;
  margin-bottom: 40px;
  width: var(--conteiner-width);
  margin-bottom:  40px;
}

.promotions-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style:  none;
  width: 100%;
}
.promotions-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  /*align-items: flex-start;*/
  align-items: flex-start;
  /*align-content: flex-start;*/
  width: 560px;
  min-height: 230px;

  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: var(--white);
  background-position: center center;
  background-size: 100%;
  border-radius: 15px;
  box-sizing: border-box;

  padding: 16px 22px 22px 16px;
  background-size: cover;
}
.promotions-title {
  margin: 0;
  width: auto;
  font-size: 35px;
  line-height: 41px;
  font-weight:  bold;
  margin-bottom: 0px;

  margin-bottom: 16px;
}
.promotions-info {
  margin: 0;
  padding-top: 0.45px;
  margin-bottom: 5px;
}
.promotions-link {
  font-family: var(--basic-font);
  font-style: normal;
  font-weight: bold;
  padding:  9px 22px 15px 22px;
  border-radius: 70px;
  border:  none;
  color: var(--white);
  text-shadow: 0px 2px 5px var(--text-shadow);
  background: linear-gradient(180deg, var(--gradient-bg-1) 0%, var(--gradient-bg-2) 100%);
  box-shadow: 0px 2px 2px var(--box-shadow-link);
  font-size: 18px;
  line-height: 24px;
  /*max-height: 48px;*/
  /*  margin-top: auto;*/
  margin-left: auto;
  margin-top: auto;
  min-width: 164px;
  box-sizing: border-box;
  /*align-self: flex-end;*/
}
.conform-order-btn:hover,
.feedback-btn:hover,
.login-form-btn:hover,
.item-show:hover,
.location-link:hover,
.blog-form-btn:hover,
.promotions-link:hover {
  background: linear-gradient(0deg, var( --basic-bg-color), var( --basic-bg-color)), linear-gradient(180deg, var(--gradient-bg-1) 0%, var(--gradient-bg-2) 100%);
  box-shadow: 0px 2px 2px var(--slider-shadow);
}
.conform-order-btn:active,
.feedback-btn:active,
.login-form-btn:active,
.item-show:active,
.location-link:active,
.blog-form-btn:active,
.promotions-link:active{
  background: linear-gradient(0deg, var(--gradient-bg-3), var(--gradient-bg-3)), linear-gradient(180deg, var(--gradient-bg-1) 0%, var(--gradient-bg-2) 100%);
  box-shadow: inset 0px 2px 2px var(--slider-inset-shadow);
}
.promotions-item-first {
  background-color: var(--bg-promo1);
  background-image: url(../img/bonuses-bg-1.jpg);
}
.promotions-item-second {
  background-color: var(--bg-promo2);
  background-image: url(../img/bonuses-bg-2.jpg);
}
.catalog {
  margin: 0 auto;
  box-sizing: padding-box;
  /*margin-bottom:  px;*/
  box-sizing: border-box;
  width: var(--conteiner-width);
}
.catalog-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 26px;
  list-style: none;
  box-sizing: padding-box;
  margin-bottom:  40px;
}
.catalog-grid {
  grid-template-rows: 1fr 1fr 1fr;
  grid-row-gap:  38px;
  /* font-family: var(--basic-font);*/
  margin-bottom:  75px;
}


.catalog-list-item {
  position: relative;
  width: 267px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.catalog-list-item:nth-last-child(-n+4) {
  /*background: red;*/
  /*margin-top: 0px;*/
}
.item-image {
  position: relative;
  z-index: 5;
  /*margin-bottom:  17px;*/
  border-radius: 50%;
  /*margin-bottom: 126px;*/
}
.value {
    display: inline-block;
    vertical-align: baseline;
    margin-right: 2px;

}
.item-price {
  font-family: var(--basic-font);

  position: absolute;
  bottom: 3.8%;
  margin: 0;
  padding: 0;
  top:  207px;
  font-size: 45px;
  line-height: 45px;
  /*font-weight: bold;*/
  color: var(--white);
  text-shadow: 0px 1px 3px var(--price-shadow);
  z-index:  5;
  height: 31px;
}
.item-weight {
  font-size: 30px;
  line-height: 35px;
  text-shadow: 0px 1px 3px var(--price-shadow);
}

.item-description {
  width: 100%;
  text-align: center;
  /*height: 44px;*/
  position: relative;
  padding: 0;
  /*z-index: 15;*/
  font-family: var(--basic-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: var(--white);
  text-decoration: underline;
  text-decoration-color: var(--basic-bg-color);
}
.item-text-wrapper:active .item-description {
  color: var(--link-color-hover);

  text-decoration-color:var(--link-color-underline);
}
.item-text-wrapper:hover .item-description {
  color: var(--link-color-hover);

  text-decoration-color:var(--link-color-underline);
}
.item-show {
  /*display: inline-block;*/
  display: none;
  vertical-align: top;
  position: absolute;
  /*bottom: -50px;*/
  z-index: 5;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  background: linear-gradient(180deg, var(--gradient-bg-1) 0%, var(--basket-inner) 100%);
  box-shadow: 0px 1px 2px var(--slider-shadow);
  border-radius: 50px;
  color: var(--white);
  padding: 12px 0px;
  margin:0;
  text-align:  center;
  box-sizing: border-box;
  min-width: 200px;
  min-height: 44px;
/*      top: calc(100% + 17px);
left: calc(50% - 100px);*/

top: calc(100% + 17px);
bottom: 17px;
/*left: calc(50% + 10px);*/
z-index: 30;
/*display: none;*/
/*padding: 12px 16px;*/
font-size: 18px;
line-height: 24px;

}
.catalog-list-item div {
  display: block;
  width: 267px;
  height: 267px;
  width: 100%;
/* font-size: 0;
line-height: 0;*/
background-color: var(--bg-color-slider-1);
border-radius: 50%;
overflow: hidden;
margin-bottom: 12px;
}
.catalog-list-item img {
  max-width: 100%;
  height: auto;
}

.item-text-wrapper {
  z-index: 30;
  margin: 0;
  /*mifoman*/
  /*margin-top: -2px;*/
  width: 100%;
  padding: 0;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}



.item-hit:before {
  content: '';
  position: absolute;
  top:  0;
  left:  0;
  z-index: 25;
  content: '';
  width: 61px;
  height: 61px;
  background-color: var(--white);
  background-image: url('../img/hit-icon.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  border-radius: 50%;
}
.catalog-list-item:after{
  content: '';
  display: none;
  background-color: var(--white);
  opacity: 1;
  box-shadow: 0px 20px 20px var(--border-color-after);
  border-radius: 4px;
  width: 100%;
  position: absolute;
  /*padding:  6px 13px;*/
  width: calc(100% + 0px);
  width: 293px;
  height: calc(100% + 51px);
  top:-7px;
  left:  -13px;
  z-index: 0;
  /*padding-bottom:  21px;*/
  width: 293;
  box-sizing: border-box;
  z-index: 5;
  position: absolute;
  top: -6px;
  left: -10px;
  /*display: block;*/
  /*width: 107.5%;*/
  height: calc(100% + 95px);
  background-color: var(--catalog-hover);
  border-radius: 5px;
  min-height: 293px;

}
.catalog-list-item:hover:after {
  display: block;
  z-index:  10;
}
.catalog-list-item:hover .item-show {
  display: inline-block;
  vertical-align: baseline;
  z-index:  16;
}
.catalog-list-item:hover .item-image,
.catalog-list-item:hover .item-price {
  display: block;
  z-index:  15;
}
.about-us {
  background-color: var(--bg-about-us);
  background-image: url('../img/features-bg.jpg');
  border-radius: 16px;
  width: var(--conteiner-width);
  margin:  0 auto;
  padding: 0;
  padding: 24px 24px 32px 20px;
  background-color: var(--about-us-color);
  box-sizing:  border-box;
  margin-bottom: 38px;
  min-height: 306px;
}
.about-us-title {
  width: 995px;
  padding: 0;
  margin: 0;
  font-family: var(--basic-font);
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 5px;
}
.about-us-list {
  display: flex;
  flex-wrap: wrap;
  list-style:  none;
  justify-content: space-between;
  align-content: center;
  padding: 0;
  margin: 0;
}
.about-us-item {
  min-width:540px;
  font-weight:  400;

  display: flex;
  flex-direction: row;
}
.about-us-item-info {
  display: inline-block;
  vertical-align: baseline;
  width: 484px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  box-sizing: border-box;
  padding: 0;
  margin:0;
  margin-top: 12px;
}
.about-us-item:before {
  content: '';

  height: 49px;
  width: 49px;
  margin-right:  6px;
}
.icecream {
  margin-bottom: 13px;
}
.icecream:before  {
  background-image: url('../img/features-ice-cream-icon.svg');
}
.cow {
  margin-right: -5px;
}
.cow .about-us-item-info {
  margin-top: 12px;
}
.cow:before {
  background-image: url('../img/features-cow-icon.svg');
}

.thermometer {
  margin-right: -4px;

}
.thermometer .about-us-item-info{
  margin-top: 8px;
  width: 482px;
}
.thermometer:before {
  background-image: url('../img/features-thermometer-icon.svg');
}
.eco .about-us-item-info{
  margin-top: 8px;

}

.eco:before {
  background-image: url('../img/features-eco-icon.svg');
}
.blog {
  display: flex;
  box-sizing: padding-box;
  justify-content: space-between;
  padding: 0;
  width: var(--body-width);
  margin:  0 auto;
  margin-bottom:  40px;
  width: var(--conteiner-width);
  box-sizing: border-box;
}
.blog-theme {
  padding: 19px 20px;
}
.blog-theme-title {
  font-family: var(--basic-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  padding: 0;
/*  margin-top: 23px;
margin-left: 20px;*/
}
.blog-theme,
.blog-form-wrapper {
  width: 560px;
  height: 220px;
  max-height:  220px;
  box-sizing: border-box;
  border-radius: 16px;
}
.blog-theme {
  background-color: var(--white);
  background-image: url('../img/blog-bg-new1.png');
}
.blog-content-link {
  display: block;
  color: var(--default-black);
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-decoration: underline;

  width: 285px;

}
.blog-form-wrapper {
  display: flex;
  background-image: url('../img/blog-bg-new2.png');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 5px 6px;
  box-sizing: border-box;
}
.blog-form  {
  position: relative;
  background-color: var(--white);
  width: 560px;
  height: 100%;
  border-radius: 16px;
  margin-bottom: 16px;
  box-sizing: border-box;
  padding:  0;
  margin: 0;
  padding: 25px 16px 16px 20px;
}
.blog-form-info {
  color:  var(--color-blog);
  font-weight:  400;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  /*  margin:  29px 20px;*/
}
.blog-form-email-sub {
  border: 2px solid var(--border-color);
  border-radius: 6px;
  width: 368px;
  height: 44px;
  margin: 0;
  /*margin-left:  20px;*/
  /*margin-right:  10px;*/
  padding:  13px 0 14px 12px;
  margin-top: 41px;
  outline:  none;
  font-weight:  700;
  box-sizing: border-box;
}

font-weight:  400;
}

font-weight:  400;
}

font-weight:  400;
}

/* Chrome/Opera/Safari */
.feedback-input-name::-webkit-input-placeholder {
  font-weight:  400;
}
.feedback-input-field::-webkit-input-placeholder {
  font-weight:  400;
}
.blog-form-email-sub::-webkit-input-placeholder {
  font-weight:  400;
}
.input-search::-webkit-input-placeholder {
  font-weight:  400;
}
.login-form-email::-webkit-input-placeholder {
  font-weight:  400;
}

.blog-form-email-sub::-webkit-input-placeholder {
  font-weight:  400;
}
.feedback-input-field::-moz-placeholder {
  font-weight: 400;
}
.feedback-input-name:-moz-placeholder {
  font-weight:  400;
}
.blog-form-email-sub::-moz-placeholder,
.input-search::-moz-placeholder,
.login-form-email::-moz-placeholder { /* Firefox 19+ */
  font-weight:  400;
}
.feedback-input-field:-ms-input-placeholder {
  font-weight:  400;
}
.blog-form-email-sub:-ms-input-placeholder,
.input-search:-ms-input-placeholder,
.login-form-email:-ms-input-placeholder { /* IE 10+ */
  font-weight:  400;
}
.feedback-input-field:-moz-placeholder {
  font-weight:  400;
}
.blog-form-email-sub:-moz-placeholder,
.input-search:-moz-placeholder,
.login-form-email:-moz-placeholder { /* Firefox 18- */
  font-weight:  400;
}
.blog-form-btn{
  min-width: 130px;
  font-family: var(--basic-font);
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  padding:  14px 19px 13px 19px;
  border-radius: 70px;
  border:  none;
  color: var(--white);
  text-shadow: 0px 2px 5px var(--text-shadow);
  background: linear-gradient(180deg, var(--gradient-bg-1) 0%, var(--gradient-bg-2) 100%);
  box-shadow: 0px 2px 2px var(--box-shadow-link);
  border-radius: 70px;
  margin-left: 5px
}
.location-pin-on-map {
  position: absolute;
  left: 318px;
  top: 94px;
}
.location-address {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 16px;
  color: var(--basic-black);
  background-color: var(--white);
  width: 303px;
  font-weight:  400;
  position: absolute;
  z-index:  25;
  right: 27px;
  top: 62px;
  font-size: 14px;
  line-height: 20px;
  box-sizing: border-box;
  padding:  30px 25px 31px 25px;
}
.location-address-info {
  margin: 0;
  margin-bottom:  24px;
}
.location-address-info-attention {
  font-size: 18px;
  line-height: 20px;
  margin-top:  6px;

}
.location-address-tel {
  margin: 0;
  margin-bottom: 28px;

}
.location-address-tel-number {
  color:  var( --default-black);
  font-weight:  700;
  margin: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  cursor: pointer;
}
.location-link {
  display: block;
  font-family: var(--basic-font);
  background: linear-gradient(180deg, var(--gradient-bg-1) 0%, var(--gradient-bg-2) 100%);
  box-shadow: 0px 2px 2px var(--box-shadow-link);
  border-radius: 70px;
  padding:  9px 28px 9px 28px;
  color: var(--white);
  text-shadow: 0px 2px 5px var(--text-shadow);
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.basket {
  min-width: 100px;
  margin-left: 0;
  margin:0;

  /*padding: 10px 17px 8px 16px;*/
}

.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  margin:  0 auto;
  min-height:  60px;
  padding-top: 18px;
  padding-bottom:   25px;
  width: var(--conteiner-width);
  box-sizing: border-box;
  padding:  0 27px;
  width: var(--body-width) ;
  min-height: 103px;
}

.footer-social-list {
  list-style:  none;
  padding: 0;
  font-size: 0;
}
.footer-social-list-item {
  display: inline-block;
  vertical-align: baseline;
  margin-right:  8px;
  /*border: 2px solid var(--footer-icon-border-color);*/
  fill:  var(--footer-svg-fill);
  border-radius: 50%;
}

.footer-social-list-item a {
  border: 2px solid var(--footer-icon-border-color);
display: block;
border-radius: 50%;
  width: 32px;
  height: 32px;
 }
.footer-social-list-item  svg{
  fill: var(--footer-svg-fill);
  width: 32px;
  height: 32px;
  border-radius: 50%;

}
.footer-social-list-item a:hover{
  border-color: var(--footer-icon-border-color);
  fill: var(--white);
}
.footer-social-list-item a:active{
  border-color: var(--footer-border-active-color);
  fill: var(--white);
  padding: 0;
  font-size: 0;
}
.footer-contacts {
  position: relative;
  width: 350px;
  color:  var(--white);
  font-size: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-top: 0px;
  padding-left: 64px;
  min-height: 40px;
  /*box-sizing: border-box;*/

}
.footer-contacts-item {

  width: 130px;
  margin-right:  32px;
  box-sizing: border-box;
  position: relative;
  /*width: 200px;*/
}
.footer-contacts span:nth-child(odd) {
  margin-right:  12px;
  /*margin-bottom: 12px;*/
}
.footer-contacts span:nth-last-child(2) {
  padding-top: 6px;
}
.footer-contacts span:nth-last-child(1) {
  width: 181px;
  padding-top: 6px;
  margin-right: 0;
}
.footer-contacts-image {
  position: absolute;
  top: 0px;
  left:  -24px;
}
.bold {
  font-weight: 700;
}
.heart:before {
  content: '';
  position: absolute;
  background-image: url('../img/heart-icon.svg');
  display: block;
  width: 15px;
  height: 13px;
  left: -23px;
  top: 5px;
}
.footer-contact-link {
  color: var(--white);
  font-size: 13px;
  line-height: 18px;
  position: relative;
  /*padding-top: 32px;*/
}
.footer-contact-link:after {
  content: '';
  background-color: var(--basic-bg-color);
  height: 1px;
  width: 100%;
  display: block;
  position: absolute;
  bottom: -1px;
}
/*.footer-contacts-item:hover .footer-contact-link:after {
background-color: var(--white);
}*/

.footer-contact-link:hover,
.footer-contact-link:active {
  color: var(--link-color-hover);
}

.footer-contact-link:hover:after,
.footer-contact-link:active:after {
  background-color: var(--link-color-underline);
  /*text-decoration-color:var(--link-color-underline);*/
}

.footer-author-site {
  font-size: 12px;
  min-height: 65px;
  line-height: 18px;
  color:  var(--white);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  /*align-items: flex-start;*/
  align-content: flex-start;
  width: 190px;
  /*padding-top:17px;*/
  box-sizing: border-box;
  margin-bottom: 8px;

}
.footer-author-site-info {
  margin: 0;
  margin-bottom:  9px;
}
.footer-author-name {
  margin:0;
}
.footer-author-site-link {
  color: var(--white);
  border-bottom: 1px solid  var(--basic-bg-color);
}
.footer-author-site-link:active,
.footer-author-site-link:hover  {
  color: var(--link-color-hover);
  border-bottom-color: var(--link-color-underline);
}


.footer-author-site-link:active,
.footer-author-site-link:hover {
  text-decoration-color:var(--link-color-underline);
}

.current {
  color: var(--white);
  background-color: var(--pagination-current);
  border-radius: 26px;
}
.current:after {
  display: none;
}
.current-page-list {
  list-style:  none;
  padding: 0;
  margin: 0;
  margin-top: -5px;
  margin-bottom:  0px;
  padding-left: 27px;
}
.current-page-item {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  line-height: 16px;
}
.current-page-item svg {
  padding-top:  2px;
  padding-bottom:  2px;
  right:  8px;
  padding-left: 8px;
}
.current-page-link {
  font-family: var(--basic-font);
  color: var(--white);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}
.arrow:before {
  content: '';
  display: block;
  position: absolute;
  bottom:  0px;
  width: 100%;
  height: 1px;
  background-color: var(--basic-bg-color);
}
.arrow {
  position: relative;
  margin-right: 17px;
  margin-left:1px;
  font-size: 14px;
  line-height: 16px;
}
.arrow:after {
  content:'';
  position: absolute;
  display: block;
  top: 1px;
  background-image: url('../img/double-arrow.svg');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  width: 6px;
  height: 6px;
  right: -13px;
  top:  calc(50% - 2px);
}
.arrow:hover {
  color: var(--arrow-color);
}
.arrow:hover:before {
  background-color: var(--arrow-color);
}

.current-page-now {
  background-color: var(--pagination-current);
  color:  var(--white);
}
.main-content-title {
  width: var(--conteiner-width);
  margin: 0 auto;
  font-family:  var(--basic-font);
  font-size: 35px;
  line-height: 41px;
  font-weight: bold;
  color:  var(--white);

  padding: 0px 0 1px 2px;
  margin-bottom:  28.5px;
}
.catalog-filter {
  width: var(--conteiner-width);
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-bottom: 39px;
}
.filter-items-sort {
  box-sizing: border-box;
  width: 196px;
  margin-right:  15px;
  margin-bottom:12px;
}
.filter-title {
  margin: 0;
  padding: 0;
  padding-bottom: 0px;
  margin-bottom: 6px;
  padding-left:  16px;
  font-family: var(--basic-font);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: var(--white);
}
.filter-fillers {

}
.filter-fillers .filter-title{
  margin-top: 2px;
  margin-bottom: 8px;
}
.filter-item-body {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  background-color: var(--basic-bg-color:);
  border-radius: 18px;
  font-weight: 500;
  background-color: var(--basic-bg-color);
  border-radius: 20px;
  position: relative;
  box-sizing: border-box;
  border:  none;
  outline:  none;
  width: 196px;
  max-height: 36px;
}
.filter-item-body:before {
  content: '';
  position: absolute;
  top: 13px;
  right: 15px;
  width: 0;
  height: 0;
  border-right: 5px solid transparent;
  border-left: 6px solid transparent;
  border-top: 10px solid var(--white);
}


.filter-sort-select {
  font-size: 16px;
  line-height: 18px;
  color: var(--white);
  background-color: transparent;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 7px 0px 10px 16px;
  border-radius: 20px;
  box-sizing: border-box;
  min-width: 196px;
}
.filter-sort-select:-ms-expand{
  display: none;
}
.filter-sort-select:focus {
  font-weight: 500;
  outline:  none;
}
.filter-item-body:hover .filter-sort-select{
  background-color: var(--white);
  color: var(--basic-black);
}
.filter-item-body:hover {
  background-color: var(--white);
}
.filter-item-body:hover:before {
  border-top-color: black;
}
.item-min-price {
  margin-right: 10px;
}
.filter-items-price {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: 15px;
  margin-bottom: 1px;
  width: 218px;
  box-sizing: border-box;
}
.filter-item-label-name {
  margin: 0;
}
.filter-item-labels {
  display: flex;
  margin-bottom: 5px;
  margin-left: 16px;
  justify-content: flex-start;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  color:  var(--white);
  width: 131px;
}

.filter-price label {
  width: calc(100% + 14px);
  padding-left: 4px;
}

.filter-item-labels input{
  width: 25px;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  color: inherit;
  background: 0 0;
  border: none;
  padding: 0;
  margin: 0;
}

.filter-item-labels:after {
  content: '';
  position: absolute;
  top: 10%;
  left: 98px;
  width: 7px;
  height: 1px;
  background-color: var(--white);
}
.price-range-box {
  display: flex;
  align-items: center;
  min-height: 36px;
  max-height: 36px;
  padding: 7px 21px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  background-color: var(--basic-bg-color:);
  border-radius: 20px;
  box-sizing: border-box;
  background-color: var(--basic-bg-color);
  border-radius: 20px;
}
.price-range-control-line {
  position: relative;
  width: 176px;
  height: 4px;
  background-color: var(--footer-icon-border-color);
  font-size: 0;
}
.price-range-control {
  position: relative;
  width: 20px;
  height: 20px;
  font-size: 0;
  background-color: var(--white);
  border: none;
  border-radius: 50%;
  cursor: pointer;
}
.price-range-control-line-center{
  position: absolute;
  left: 30px;
  width: 90px;
  height: 4px;
  background-color: var(--white);
}
.price-range-control-left:after,
.price-range-control-right:after {
  content: '';
  left: 8px;
  top: 8px;
  position: absolute;
  width: 4px;
  height: 4px;
  background-color: var(--price-control-color);
  border-radius: 50%;
}
.price-range-control-left,
.price-range-control-right{
  position: absolute;
  top: -8px;
}
.price-range-control-left {
  left: 12px;

}
.price-range-control-left:hover:after {
  left: 8.6px;
  top: 11px;
  width: 4.4px;
height: 4.55px;
  }
.price-range-control-left:hover {
width: 22px;
height: 25px;
top: -11px;

}

.price-range-control-right  {
  right: 45px;
}
.price-range-control-right:hover{
width: 22px;
height: 25px;
top: -11px;
right: 45px;
}
.price-range-control-right:hover:after {
  top: 11px;
left: 9px;

  width: 4.4px;
height: 4.55px;
 }
.filter-fat {
  max-height:  36px;
  margin-right: 0;
  min-height: 36px;
  max-height: 36px;
  background-color: var(--basic-bg-color);
  border-radius: 20px;
  box-sizing: border-box;
  padding-top:  7px;
  padding-left:  14px;
}
.filter-item p {
  margin: 0;
  padding: 0;
}
.filter-fat label {
  position: relative;
  cursor: pointer;
  font-size: 15px;
  font-family: var(--basic-font);
  color: var(--white);
  margin-right:  17px;
  box-sizing: padding-box;
}

.filter-fat label:before {
  content: '';
  top: -2px;
  left: -31px;
  display: inline-block;
  width: 22px;
  height: 22px;
  vertical-align: top;
  background-color: transparent;
  border: 3px solid var(--white);
  border-radius: 50%;
  opacity: .8;
  box-sizing: border-box;
  margin-right:  11px;
}


.filter-fat label:hover:before,
.filter-fat input[type='radio']:focus + label:before{
  opacity: 1;
}
.filter-fat input[type='radio']:disabled + label:before{
  opacity: 0.4;
}
.filter-fat input[type='radio']:checked + label:before{
  background-image: radial-gradient(ellipse at center, var(--white) 0%,var(--white) 40%,transparent 41%,transparent 72%,var(--white) 73%,var(--white) 99%, var(--white) 100%);
}


.filter-item-fill-body {
  background-color: var(--basic-bg-color);
  border-radius: 20px;
  padding:  8px 20px 5px 16px;
  box-sizing: border-box;
  /*max-height: 36px;*/
  height: 36px;
  /*min-height: 36px;*/
  color:  var(--white);
  font-family: var(--basic-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
/*  display: flex;
justify-content: flex-start;
align-items: center;*/
}

.filter-item-fill-body label {
  padding-left:  31px;
  margin-right:  19px;
  position: relative;

}
.filter-item-fill-body label:before,
.filter-item-fill-body label:after {
  position: absolute;
  left: 0px;
  top: 5px;
  content: '';
/*  width: 24px;
height: 20px;*/
display: inline-block;
vertical-align: baseline;
background-image: url('../img/checkbox-off-icon.svg');
background-repeat: no-repeat;
opacity: 1;
}
.filter-item-fill-body label:before {
  top: 0px;
  width: 24px;
  height: 22px;
}
.filter-item-fill-body label:after {
  top: -2px;
  height: 22px;
  width: 24px;
  background-image: url('../img/checkbox-on-icon.svg');
  opacity: 1;
  display: none
}


.filter-item-fill-body label:nth-last-child(1){
  margin-right:  0px;

}
.filter-item-fill-body label:nth-child(6) {
  margin-right:24px;

}
.filter-item-fill-body label:nth-child(8) {
  margin-right:18px;

}


.filter-item-fill-body label:hover:before,
.filter-item-fill-body label:hover:after,
.filter-item-fill-body input[type='checkbox']:focus + label:before,
.filter-item-fill-body input[type='checkbox']:focus + label:after{
  opacity: 1;
}
.filter-item-fill-body input[type='checkbox']:disabled + label:before,
.filter-item-fill-body input[type='checkbox']:disabled + label:after{
  opacity: 0.4;
}
.filter-item-fill-body input[type='checkbox']:checked + label:before{
  display: none;
}
.filter-item-fill-body input[type='checkbox']:checked + label:after{
  display: inline-block;
  vertical-align: baseline;
}
.catalog-filter-button {
  font-family: var(--basic-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  background-color: var(--basic-bg-color);
  border: 2px solid var(--white);
  color: var(--white);
  border-radius: 20px;
  box-sizing: padding-box;
  margin-top: 27px;
  margin-left:  15px;
  /*margin-right: auto;*/
  padding: 7px 28px 7px 27px;
}



.filter-fat label:nth-last-child(1) {

  padding-left: 3px;
  margin-right: 22px;
}
.catalog-filter-button:hover {
  color: var(--basic-black);
  background-color: var(--white);

}
.catalog-filter-button:active {
  color:  var(--basic-black);
  box-shadow: inset 0px 2px 1px var(--basic-shadow-color);
}
.catalog {
  position: relative;
}
.catalog-pagination {
  width: 194px;


  margin-left:  auto;
  box-sizing: border-box;
  font-size: 0;
  padding: 1px 0 0px 1px;
  /*margin-right: 10px;*/
  /*margin-left: -20px;*/

}
.catalog-link-page  {
  font-family: var(--basic-font);
  color: var(--white);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  display: inline-block;
  vertical-align: baseline;
  padding: 5px 5px 5px 8px;
  width: 26px;
  height: 26px;
  box-sizing: border-box;
  border-radius: 50%;
  margin-left: 1px;
  margin-right:  3px;

}
.catalog-link-page:nth-last-child(0) {
  margin-right:  2px;
}
.catalog-link-page:hover  {
  background-color: var(--white);
  color:  var(--basic-black);
}
.current-page {
  background-color: var(--white);
  color:  var(--basic-black);
}
.arrow-left,
.arrow-right {
  padding: 0;
  margin: 0;
  width: 12px;
  display: inline-block;
  vertical-align: baseline;
  box-sizing: border-box;
  position: relative;
  transform: translateX(6px);
}
.arrow-right {
  margin-left:  10px;
}
.arrow-left {
  transform: rotate(-180deg) translateX(3px);
  margin-right: 9px;
  fill:  var(--basic-bg-color);
}
.catalog-svg {
  margin: 0;
  padding: 0;
}
.margin-bottom {
  margin-bottom: 28px;
}
.pop-up-basket {
  position: absolute;
  display: none;
  /*display: flex;*/
  /*mifomen*/
  flex-direction: column;
  color: var(--basic-black);
  z-index: 30;
  top:  36px;
  background-color: var(--form-color);
  box-shadow: var(--nav-menu-box-shadow);
  border-radius: 4px;
  padding:  20px 14px 21px 21px;
  width: 539px;
  right: 0px;
  box-sizing: border-box;
}
.basket-total-cost {
  align-self: flex-end;
}
.feedback-btn {
  align-self: flex-end;
}
.nav-menu-basket:hover .pop-up-basket,
.nav-menu-basket:focus .pop-up-basket{
  display: flex;
}
.basket-list {
  padding: 0;
  margin:0;
  border-bottom:  1px solid var(--basket-border-color);
  margin: 0;
  padding: 0 17px 0 0;
  list-style: none;
}
.basket-item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
  width: 484px;
  font-family: var(--basic-font);
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  min-height: 33px;
  margin-bottom:  20px;
}
.basket-close-btn {
  position: relative;
  width: 11px;
  height: 11px;
  align-self: center;

}
.basket-close-btn{
  margin: 0;
  margin-right: 9px;
  padding: 0;
  font-size: 0;
  line-height: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.basket-close-btn:before,
.basket-close-btn:after{
  content: '';
  position: absolute;
  background-color: var(--default-black);
}
.basket-close-btn:before{
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.basket-close-btn:after{
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.basket-close-btn:before,
.basket-close-btn:after{
  position: absolute;
  top: 3px;
  left: -2px;
  width: 15px;
  height: 1px;
}
.basket-item-price{
  color: var(--bascket-color);
}
.basket-item-img {
  position: relative;
  padding: 0;
  width: 33px;
  height: 33px;
  margin-right: 14px;
  border-radius: 50%;
  background-color: var(--gradient-bg-1);
  margin-right: 13px;
}
.basket-item-name {
  padding: 0;
  margin: 0;
  position: relative;
  width: 216px;
  /*max-width: 216px;*/
  margin-right:  31px;
  box-sizing: border-box;
  font-size: 13px;
  line-height: 16px;
  align-self: baseline;
  padding-top: 9px;
}

.basket-item-order{
  margin: 0;
  padding: 0;
  padding-bottom: 2px;
  margin-right: 26px;
  width: 95px;
  /*align-self: center;*/
  padding-top: 9px;
}




.basket-item-cost {
  margin: 0;
  margin-left:  auto;
  /*  justify-self:  flex-end;*/
  width: 50px;

  /*padding-bottom: 2px;*/
  padding-top: 9px;
  /*align-self: center;*/
}
.basket-total-cost {
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  margin-bottom:  15px;
  margin: 10px 0 14px;
}
.conform-order-btn {
  font-family: var(--basic-font);
  color: var(--white);
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 16px;
  padding:  13px 15px;
  align-self: flex-end;
  background: linear-gradient(180deg, var(--gradient-bg-1) 0%, var(--gradient-bg-2) 100%);
  box-shadow: 0px 1px 2px var(--basic-shadow);
  border-radius: 26px;
}
.feedback-btn {
  font-weight: 700;
  font-family: var(--basic-font);
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 16px;
  color: var(--white);
  padding: 10px 14px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  background: linear-gradient(180deg, var(--gradient-bg-1) 0%, var(--gradient-bg-2) 100%);
  box-shadow: 0px 1px 2px var(--basic-shadow);
  border-radius: 26px;
  box-shadow: 0px 1px 2px 0px var(--box-shadow-link-second);
}
.feedback-modal {
  position: fixed;
  top: calc(50vh - 165px);
  left: calc(50vw - 245px);
  z-index: 100;
  display: none;
  animation: move .6s cubic-bezier(1,.46,.94,1);
}
.feedback-modal-active {
  display: block;
}
.feedback-form {
  display: flex;
  flex-direction: column;
  box-shadow: none;
  position: relative;
  width: 477px;
  padding: 13px 25px 27px 22px;
  background-color: var(--form-color);
  border-radius: 6px;
  box-sizing: border-box;
  position: relative;
}
.feedback-form-intro{
  margin: 0px 0 20px 0px;
  padding: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  color:var(--basic-black);
}
.feedback-input-field {
  min-height: 44px;
  margin-bottom: 20px;
  padding: 16px 14px;
  font-size: 16px;
  line-height: 20px;
  background: var(--white);
  border: 2px solid var(--form-border-color);
  outline: none;
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px;
  font-weight: 700;

}
.feedback-input-name,
.feedback-input-email {
  width: 267px;
  height: 44px;
}
.feedback-textarea {
  height: 154px;
  padding-top: 10px;
}
.feedback-btn {
  width: 140px;
  border: none;
  -ms-flex-item-align: end;
  align-self: flex-end;
  margin: 6px 1px 0px 0px;
  padding: 10px 23px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  border-radius: 20px;
  align-self: flex-end;
}
.feedback-close-btn {
  position: absolute;
  top: 17px;
  right: 19px;
  width: 18px;
  height: 18px;
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.feedback-close-btn:before,
.feedback-close-btn:after {
  content: '';
  position: absolute;
  background-color: var(--color-close-btn);
}
.feedback-close-btn:before{
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.feedback-close-btn:after{
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.feedback-close-btn:before,
.feedback-close-btn:after {
  position: absolute;
  top: 4px;
  left: 0px;
  width: 21px;
  height: 2px;
}
.feedback-close-btn:before {
  top: 3px;
}
.feedback-bg:before {
  content:'';
  position:fixed;
  left:0;
  top:0;
  width: 100%;
  height: 100%;
  background-color: var(--darken-layer);
  z-index: 30;
  transition: 300ms ease;
}
.feedback-modal-error {
  animation: shake .6s;
}
@-webkit-keyframes move{
  0%{
    -webkit-transform: translateX(-2000px);
    transform: translateX(-2000px);
  }
  80%{
    -webkit-transform: skewX(25deg);
    transform: skewX(25deg);
  }
  90%{
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
  }
  100%{
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@keyframes shake{
  0%{
    transform: translateX(0px);
  }
  10%,
  30%,
  50%,
  70%,
  90%{
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80%{
    transform: translateX(10px);
  }
  100%{
    transform: translateX(0px);
  }
}
.footer-blank {
  margin-top:  600px;
}

.location-wrapper {
  position: relative;
  min-height: 430px;
}

.location-map-block {
  position: relative;
  left: 0;
  right: 0;
  width: calc(100vw - (100vw - 100%));
  /*width: 100vw;*/
  /*margin-left: calc(50% - 50vw - 0px);*/
  height: 430px;
  background-color: var(--white);
  background-image: url('../img/location-map.jpg');
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.map {
  position: absolute;
  left: 0;
  /*right: 0;*/
  height: 100%; /* Рекомендация Google*/
  /*width: calc(100vw - (100vw - 100%));*/
  z-index: 25;
  overflow: hidden;
  width: 100vw;
  margin-left: calc(50% - 50vw - 9px);
  /*width: calc(100vw - (100vw - 100%));*/
}

/* for maps elements*/
.gmnoprint {
  display: none;
}
/*input animation*/
/*input::-webkit-input-placeholder {
text-indent: 0px;
transition: text-indent 500ms ease;
}
input::-moz-placeholder {
text-indent: 0px;
transition: text-indent 500ms ease;
}
input:-moz-placeholder {
text-indent: 0px;
transition: text-indent 500ms ease;
}
input:-ms-input-placeholder {
text-indent: 0px;
transition: text-indent 500ms ease;
}
input:focus::-webkit-input-placeholder {
text-indent: 500px;
transition: text-indent 500ms ease;
}
input:focus::-moz-placeholder {
text-indent: 500px;
transition: text-indent 500ms ease;
}
input:focus:-moz-placeholder {
text-indent: 500px;
transition: text-indent 500ms ease;
}
input:focus:-ms-input-placeholder {
text-indent: 500px;
transition: text-indent 500ms ease;
}*/


/*input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease;}
input::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease;}
input:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease;}
input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease;}
input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}
*/


/*mifomen*/
/*.item-show,
.item-hit::after {
display: block;
}
*/
