:root {
  --basic-font:   Roboto, Arial, sans-serif;
  --body-width:  1200px;
  --conteiner-width:  1146px;
  --basic-black: #323232;
  --basic-bg-color: rgba(255, 255, 255, 0.2);
  --border-color:  rgba(178, 178, 178, 0.52);
  --box-shadow-link:  0px 2px 2px rgba(172, 16, 0, 0.64);

  --bg-color-slider-1: #849d8f;
  --bg-color-slider-2: #8996a6;
  --bg-color-slider-3: #9d8b84;

  --nav-menu-box-shadow:  0px 20px 20px rgba(0, 0, 0, 0.4);

  --basic-dark: #aba9a7;

  --basic-neutral: #e5e5e5;
  --basic-extra-light: #f8f5f2;
  --basic-white: #fff;
  --special: #663d15;
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
body {

}
.page-body {
  font-family:  var(--basic-font);
  font-weight: 700;
  padding:  0px;
  height: 100%;
  margin:  0 auto;
  width: 100%;
  background-repeat: no-repeat;
  background-position: 50% 0;
  transition: 500ms ease;
  background-color: var(--bg-color-slider-1);
}

.page-bg-1 {
  background-color: var(--bg-color-slider-1);
  background-image: url(../img/icecream-bg-1.png);
}
.page-bg-2 {
 background-color: var(--bg-color-slider-2);
 background-image: url(../img/icecream-bg-2.png);
}
.page-bg-3 {
  background-color: var(--bg-color-slider-3);
  background-image: url(../img/icecream-bg-3.png);
}
a {
  text-decoration: none;
}

.slider-controls  {
  position: absolute;
  bottom: 123px;
  left:  27px;
}

.slider-controls label {
  position: relative;
  font-size: 0;
  top:  50px;
  display: inline-block;
  width: 21px;
  height: 21px;
  border: 2px solid var(--basic-white);
  border-radius: 50%;
}

#slide-1:checked ~ .slider-controls label[for="slide-1"],
#slide-2:checked ~ .slider-controls label[for="slide-2"],
#slide-3:checked ~ .slider-controls label[for="slide-3"] {
  background-color: var(--basic-white);
}

.nav-menu {
  box-sizing: border-box;
  padding:  0 27px;
  display: flex;
  justify-content: flex-start;
  align-items:  center;
  position: relative;
  margin-top:  6px;
  width: var(--body-width);
  margin:  0 auto;
}

.main-header {
  width: var(--body-width);
  margin:  0 auto;
}

.main-header-logo {
  margin-right:  24px;
  display: block;
  height: 64px;
}

.nav-menu-list,
.nav-sub-menu {
  list-style: none;
  padding: 0;
  color:  var(--basic-white);
}

.nav-menu-list{
  position: relative;
}

.nav-sub-menu {
  position: absolute;
  z-index:  15;
  top: 34px;
  background-color: var(--basic-white);
  border-radius: 4px;
  color: var(--basic-dark);
  width: 143px;
  background: var(--basic-white);
  box-shadow: var(--nav-menu-box-shadow);
  border-radius: 4px;
  display: none;

}
.nav-sub-menu-link {
  font-size: 14px;
  line-height: 16px;
  color: var(--basic-black);
  font-weight:  400;
  padding:  15px;
  display: block;
}

.nav-sub-menu-new {
  font-weight:  700;
  position:  relative;

}
.nav-sub-menu-item:nth-child(1):after {
  content: "";
  display: block;
  position: absolute;
  left: 6px;
  top: 44px;
  width: 128px;
  height: 2px;
  background-color: rgba(50, 50, 50, 0.2);
}

.nav-menu-item:hover .nav-sub-menu {
  display: block;
}

.nav-menu-link:active {
 color:  var(--basic-black);
 background: #EDEDED;
 box-shadow: inset 0px 2px 1px #696969;
 border-radius: 26px;
}

.nav-sub-menu-item {
  font-size: 14px;
  line-height: 18px;
}

.nav-sub-menu-item:nth-child(1) {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.nav-sub-menu-item:nth-last-child(1) {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.nav-sub-menu-item:hover {
  background-color: #FBDED7;
}
.nav-sub-menu-item:active {
  background-color: #F6B5A5;
}

.nav-menu-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
  height: 100%;
}

.nav-menu-item {
  margin-right: 32px;
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

}

.nav-menu-item:after {
 content: "";
 height: 25px;
 width: calc(100%);
 position: absolute;
 left: 0;
 bottom:  -20px;
}

.nav-menu-link:after {
  content: "";
  background-color: var( --basic-bg-color);
  height: 1px;
  width: calc(100% - 26px);
  position: absolute;
  bottom: 0;
  left: 14px;
}
.nav-menu-link {
  color:  inherit;
  font-family: var(--basic-font);
  font-weight:  bold;
  font-size: 16px;
  line-height: 18px;
  padding-top: 18px;
  padding-bottom:  10px;
  padding:  9px 13px 11px 13px;
  border-radius: 26px;
}


.nav-menu-link:hover {
  background-color: var(--basic-white);
  /*border-radius: 26px;*/
  font-family: var(--basic-font);
  font-style: normal;
  font-weight: bold;
  color: var(--basic-black);
}

.link-for-search {
  background-position: 50% 50%;
  box-sizing: border-box;
  background-color: var(--basic-bg-color);
  transition: 300ms ease;
  border-radius: 50%;
  display: block;
  width: 32px;
  height: 32px;
  padding:  8px 8px 16px;
}

.link-for-search path {
  fill: var(--basic-white);
}
.link-for-search:hover path {
 transition: 300ms ease;
 fill: var(--basic-black);
}

.nav-menu-item-search {
  position: relative;
}

.input-search {
  display: block;
  font-size: 14px;
  line-height: 16px;
  padding:  15px;
  width: 100%;
  border: 2px solid #d3d3d2;
  box-sizing: border-box;
  border-radius: 4px;
  outline: none;
  font-weight: bold;
}

.blog-form-email-sub:hover,
.input-search:hover {
  border: 2px solid #d3d3d2;
}
.blog-form-email-sub:active,
.input-search:active {
 border: 2px solid rgba(46, 136, 228, 0.52);
 box-sizing: border-box;
 border-radius: 4px;
}

.input-search-wrapper {
  position: absolute;
  display: none;
  top: calc(100% + 4px);
  right: 0;
  background: #F8F7F4;
  width: 321px;
  box-shadow: var(--nav-menu-box-shadow);
  border-radius: 4px;
  padding:  20px 15px;
}

.link-for-search::after,
.login-link::after,
.nav-menu-last-icons::after {
  display: none;
}

.nav-menu-item-search:hover .input-search-wrapper {
  display: block;
}

.nav-menu-search {
  background-color:  var(--basic-bg-color);
  border-radius: 20px;
  position: relative;
  width: 92px;
}

.nav-menu-last-icons {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  padding: 8px 16px 8px 40px;
  position: relative;
  color: var(--basic-white);
  background-color: rgba(255,255,255,.2);
  border-radius: 20px;
}
.nav-menu-search svg{
  /*fill:  var(--basic-black);*/
}
.nav-menu-search svg{
  position: absolute;
  left: 12px;
  top: 6px;
}

/*.nav-menu-search:hover .nav-menu-last-icons path {
  fill:  #eda;
}*/
.nav-menu-link path {
  fill:  var(--basic-white);
}

.nav-menu-item:hover .nav-menu-link  {
  font-weight:  700;
  color:  var(--basic-black);
  background-color:  var(--basic-white);
/*border-radius: 26px;*/
}

.nav-menu-item:hover .nav-menu-link path {
  fill:  var(--basic-black);
}

.login-form {
  position: absolute;
  display: none;
  right:  0;
  z-index: 15;
  padding: 20px 19px;
  background: #F8F7F4;
  box-shadow: var(--nav-menu-box-shadow);
  border-radius: 4px;
  width: 277px;
  top: calc(100% + 4px);
}

.login-form-email,
.login-form-password {
  padding: 15px;
  background: var(--basic-white);
  border: 2px solid #D3D3D2;
  outline: none;
  width: 100%;
  box-sizing: border-box;
  border-radius: 4px;
}

.login-form-password {
  margin-top:  20px;
}

.login-form-email:hover,
.login-form-password:hover {
  border: 2px solid var(--border-color);
}

.login-form-email:focus,
.login-form-email:active,
.login-form-password:focus,
.login-form-password:active {
  border: 2px solid rgba(46, 136, 228, 0.52);
}

.login-form-email {
  font-family: var(--basic-font);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
}

.login-form-btn {
  font-weight: bold;
  font-size: 18px;
  line-height: 16px;
  color: var(--basic-white);
  background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 1px 2px rgba(172, 16, 0, 0.25);
  border-radius: 26px;
  padding:  15px 25px;
  border: 0;
}

.login-form-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 20px;
  align-items: center;
}

.login-form-btn {
 margin-right: 20px;
}

.login-form-link {
  position: relative;
  color: var(--basic-black);
  font-size: 13px;
  line-height: 15px;
  border-bottom:1px solid rgba(50, 50, 50, 0.3);;
}

/*.login-form-link:after {
content: "";
display: block;
height: 1px;
width: 100%;
background-color: rgba(50, 50, 50, 0.3);
}*/

.login-form-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 120px;
  margin: 0;
  padding: 0;
}

.nav-menu-search:hover .login-form {
  display: block;
}
.nav-menu-work-time {
  position: absolute;
  right: 21px;
  top: 78px;
  font-size: 14px;
  line-height: 16px;
  color:  var(--basic-white);
  text-align:  right;
}
.nav-menu-work-time-tel {
  font-size: 22px;
  line-height: 24px;
  color:  var(--basic-white);
}

.nav-menu-work-time-tel:hover {
  cursor: default;
}

.nav-menu-item:nth-child(3) {
  margin-right: 267px;
}

.main-content {

}
.slider-1,
.slider-2,
.slider-3 {
  display: inline-block;
  width: 21px;
  box-sizing: border-box;
  height: 21px;
  margin-right: 8px;
  vertical-align: top;
  font-size: 0;
  color: var(--basic-white);
  border: 2px solid var(--basic-white);
  border-radius: 50%;
  cursor: pointer;
}
.slider-3 {
  margin-right: 0;
}
.slider-controls label:checked {
  background-color: var(--basic-white);
}

.slider-controls label:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
.main-header {
  width: var(--body-width);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin-top: 9px;
}



.page-body {

}


.slider {
  width: var(--body-width);
  margin:  0 auto;
  height:  515px;
  position: relative;
  max-height: 515px;
}
.slider-list {
  list-style: none;
  padding: 0;
  font-size: 60px;
  color:  var(--basic-white);
  height: 100%;
}

.slider-item {
  padding: 0;
  text-align:  center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content:  flex-end;
  align-items: center;
}

.slider-item-title {
  font-size: 60px;
  line-height: 60px;
  text-align:  center;
  bottom:  0;
  width: 672px;
  margin: 0;
  margin-bottom: 26px;
  padding: 0;

}
.slider-item-link {
  background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: var(--box-shadow-link);
  border-radius: 70px;
  font-family: var(--basic-font);
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 44px;
  letter-spacing: 0.05em;
  color: var(--basic-white);
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  padding:  9px 23px;
  margin-bottom:  50px;
}
.slider-item-link:hover {
  background: linear-gradient(0deg, var( --basic-bg-color), var( --basic-bg-color)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 2px 2px #AC1000;
}

.slider-item-link:active{
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: inset 0px 2px 2px #942718;
}

.promotions {
 margin: 0 auto;
 display: flex;
 justify-content: space-between;
 box-sizing:  border-box;
 margin-bottom: 40px;
 width: var(--conteiner-width);
 margin-bottom:  40px;
}

.promotions-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style:  none;
  width: 100%;
}
.promotions-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 560px;
  min-height: 230px;
  padding: 16px 20px 25px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  color: var(--basic-white);
  background-position: center center;
  background-size: 100%;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 16px 22px 22px 16px;
}

.promotions-title {
  margin: 0;
  font-size: 35px;
  line-height: 41px;
  font-weight:  bold;
  display: block;
}

.promotions-info {
  margin: 0;
  margin-top: 16px;
  margin-bottom: 8px;
}

.promotions-link {
  font-family: var(--basic-font);
  font-style: normal;
  font-weight: bold;
  padding:  15px 22px;
  border-radius: 70px;
  border:  none;
  color: var(--basic-white);
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: var(--box-shadow-link);
  font-size: 18px;
  line-height: 24px;
  margin-top: auto;
  align-self: flex-end;
}

.login-form-btn:hover,
.item-show:hover,
.location-link:hover,
.blog-form-btn:hover,
.promotions-link:hover {
  background: linear-gradient(0deg, var( --basic-bg-color), var( --basic-bg-color)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: 0px 2px 2px #AC1000;
}
.login-form-btn:active,
.item-show:active,
.location-link:active,
.blog-form-btn:active,
.promotions-link:active{
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0.07)), linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: inset 0px 2px 2px #942718;
}

.promotions-item-first {
  background-color: red;
  background-image: url(../img/bonuses-bg-1.jpg);
}

.promotions-item-second {
  background-color: red;
  background-image: url(../img/bonuses-bg-2.jpg);
}


.catalog {
  margin: 0 auto;
  box-sizing: padding-box;
  margin-bottom:  40px;
  box-sizing: border-box;
  width: var(--conteiner-width);
}


.catalog-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 26px;
  list-style: none;
  box-sizing: padding-box;
}

.catalog-grid {
row-gap:  40px;
}


.catalog-list-item {
 position: relative;
 width: 267px;
}

.item-image {
  position: relative;
  z-index: 5;
}

.item-price {
  position: absolute;
  bottom: 3.8%;
  margin: 0;
  padding: 0;
  top:  216px;
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  color: var(--basic-white);
  text-shadow: 1px 1px 3px rgba(49, 50, 53, 0.5);
  z-index:  5;
}

.item-weight {
  font-size: 30px;
  line-height: 35px;
}

.item-description {
 width: 267px;
 height: 44px;
 position: relative;
 z-index: 15;
 font-family: var(--basic-font);
 font-style: normal;
 font-weight: 500;
 font-size: 16px;
 line-height: 22px;
 text-align: center;
 color: var(--basic-white);
 text-decoration: underline;
 text-decoration-color: var( --basic-bg-color);;
}

/*.close {
  height: 1px;
  max-height: 1px;
  display: none
  }*/

.item-show {
  position: absolute;
  display: none;
  z-index: 5;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  line-height: 24px;
  background: linear-gradient(180deg, #F26843 0%, #E84D37 100%);
  box-shadow: 0px 1px 2px #AC1000;
  border-radius: 50px;
  color: var(--basic-white);
  padding: 12px 16px;
  margin:0;
  text-align:  center;
  box-sizing: padding-box;
  width: 200px;
  /*max-width:  200px;*/
}

.item-hit::before {
  content: "";
  position: absolute;
  top:  0;
  left:  0;
  z-index: 15;
  content: "";
  width: 61px;
  height: 61px;
  background-color: var(--basic-white);
  background-image: url("../img/hit-icon.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  border-radius: 50%;

}

.catalog-list-item::after {
  content: "";
  display: none;
  background-color: var(--basic-white);
  opacity: 0.2;
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 100%;
  position: absolute;
  padding:  6px 13px;
  width: calc(100% + 0px);
  height: calc(100% + 55px);
  top:-6px;
  left:  -13px;
  z-index: 0;
}


.catalog-list-item:hover:after,
.catalog-list-item:hover .item-show{
 display: block;
}

.about-us {
background-image: url("../img/features-bg.jpg");
border-radius: 16px;
width: var(--conteiner-width);
margin:  0 auto;
padding: 0;
padding: 20px 24px 0 20px;
background-color: #eee;
box-sizing:  border-box;
margin-bottom: 40px;
}

.about-us-title {
  width: 995px;
  padding: 0;
  margin: 0;
  font-family: var(--basic-font);
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 7px;
}

.about-us-list {
  display: flex;
  flex-wrap: wrap;
  list-style:  none;
  justify-content: space-between;
  align-content: center;
  padding: 0;
  margin: 0;
}
.about-us-item {
  width:540px;
  font-weight:  400;
  width: 540px;
  display: flex;
  flex-direction: row;
}

.about-us-item-info {
  display: inline-block;
  width: 484px;
}

.about-us-item::before {
  content: "";
  background-image: url("../img/features-eco-icon.svg");
  height: 49px;
  width: 49px;
  margin-right:  6px;
}

.icecream::before  {
  background-image: url("../img/features-ice-cream-icon.svg");
}

.cow::before {
  background-image: url("../img/features-cow-icon.svg");
}

.thermometer::before {
  background-image: url("../img/features-thermometer-icon.svg");
}

.blog {
  display: flex;
  box-sizing: padding-box;
  justify-content: space-between;
  padding: 0;
  width: var(--body-width);
  margin:  0 auto;
  margin-bottom:  40px;
  width: var(--conteiner-width);
  box-sizing: border-box;
}

.blog-theme-title {
  font-family: var(--basic-font);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  margin-top: 23px;
  margin-left: 20px;
}

.blog-theme,
.blog-form-wrapper {
  width: 560px;
  height: 220px;
  max-height:  220px;
  box-sizing: border-box;
  border-radius: 16px;
}

.blog-theme {
  background-color: var(--basic-white);
  background-image: url("../img/blog-bg-new1.png");
}

.blog-content-link {
  display: block;
  color: #000;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  text-decoration: underline;
  margin-top: 15px;
  margin-left: 20px;
  width: 285px;
}

.blog-form-wrapper {
  display: flex;
  background-image: url("../img/blog-bg-new2.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 5px 6px;
  box-sizing: border-box;
}

.blog-form  {
  position: relative;
  background-color: var(--basic-white);
  width: 560px;
  height: 100%;
  border-radius: 16px;
  margin-bottom: 16px;
  box-sizing: border-box;
  padding:  0;
  margin: 0;
}

.blog-form-info {
  color:  #5A5A5A;
  font-weight:  400;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  margin:  29px 20px;

}

.blog-form-email-sub {
  border: 2px solid var(--border-color);
  border-radius: 6px;
  width: 368px;
  height: 44px;
  margin: 0;
  margin-left:  20px;
  margin-right:  10px;
  padding-left:  15px;
  outline:  none;
  font-weight:  bold;
  box-sizing: border-box;

 /*border: 2px solid rgba(46, 136, 228, 0.52);*/
}

.blog-form-email-sub::-webkit-input-placeholder,
.input-search::-webkit-input-placeholder,
.login-form-email::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  /*padding: 14px;*/
  font-weight:  normal;
}
.blog-form-email-sub::-moz-placeholder ,
.input-search::-moz-placeholder ,
.login-form-email::-moz-placeholder { /* Firefox 19+ */
  /*padding: 14px;*/
  font-weight:  normal;
}

.blog-form-email-sub:-ms-input-placeholder,
.input-search:-ms-input-placeholder,
.login-form-email:-ms-input-placeholder { /* IE 10+ */
  /*padding: 14px;*/
  font-weight:  normal;
}
.blog-form-email-sub:-moz-placeholder,
.input-search:-moz-placeholder,
.login-form-email:-moz-placeholder { /* Firefox 18- */
  /*padding: 14px;*/
  font-weight:  normal;
}
.blog-form-btn {
  font-family: var(--basic-font);
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  padding:  14px 19px;
  border-radius: 70px;
  border:  none;
  color: var(--basic-white);
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: var(--box-shadow-link);
  border-radius: 70px;
}

.map {
  min-height:  360px;
  width: 100%;
  max-height:  550px;
}
.location {
  position: relative;
  width: 100%;
  padding: 0;
  margin:  0 auto;
  background-image: url("../img/location-map.jpg");
  min-height: 450px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.location-pin-on-map {
  position: absolute;
  left: 316px;
  top: 94px;
}

.location-map {

}
.location-address {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 16px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  width: 303px;
  font-weight:  400;
  position: absolute;
  right: 27px;
  top: 62px;
  font-size: 14px;
  line-height: 20px;
  box-sizing: border-box;
  padding:  32px 25px 31px 25px;

}
.location-address-info {
  margin: 0;
  margin-bottom:  30px;
}

.location-address-info-attention {
  font-size: 18px;
  line-height: 24px;
  margin-top:  8px;
}

.location-address-tel {
  margin: 0;
  margin-bottom: 31px;
}
.location-address-tel-number {
  color:  #000;
  font-weight:  700;
  margin: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.location-link {
  display: block;
  font-family: var(--basic-font);
  background: linear-gradient(180deg, #F26843 0%, #E74A35 100%);
  box-shadow: var(--box-shadow-link);
  border-radius: 70px;
  padding:  13px 28px;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  margin:  0 auto;
  min-height:  60px;
  padding-top: 18px;
  padding-bottom:   25px;
  width: var(--conteiner-width);
  box-sizing: border-box;
}

.footer-social-list {
  list-style:  none;
  padding: 0;
  font-size: 0;
}
.footer-social-list-item {
  display: inline-block;
  margin-right:  12px;
  border: 2px solid rgba(255, 255, 255, 0.5);

  fill:  rgba(255, 255, 255, 0.8);
  /*fill: #eda;*/
  border-radius: 50%;
}
.footer-social-list-item  svg{
/*border-radius: 50%;*/
  width: 32px;
   .
  height: 32px;
 }

.footer-social-list-item:hover{
  border: 2px solid rgba(255, 255, 255, 0.5);
  fill: #FFFFFF;
}
.footer-social-list-item:active{
  border: 2px solid rgba(255, 255, 255, 0.7);
   fill: #FFFFFF;
}
.footer-contacts {
  position: relative;
  width: 400px;
  color:  var(--basic-white);
}

.footer-contacts-item {
  display: inline-block;
  width: 121px;
  margin-right:  32px;
  box-sizing: border-box;
  position: relative;
}
.footer-contacts span:nth-child(odd) {
  margin-right:  0px;
}

.footer-contacts span:nth-last-child(1) {
  width: 200px;
}
.footer-contacts-image {
  position: absolute;
  top: 4px;
  left:  -24px;
}
.bold {
  font-weight: 700;
}

.heart::before {
  content: "";
  position: absolute;
  background-image: url("../img/heart-icon.svg");
  display: block;
  width: 15px;
  height: 13px;
  left: -23px;
  top: 5px;
}

.footer-conacts-link {
  color: var(--basic-white);
  font-size: 13px;
  line-height: 18px;
  position: relative;
}

.footer-conacts-link:after {
  content: "";
  background-color: rgba(255, 255, 255, 0.2);
  height: 1px;
  width: 100%;
  display: block;
  position: absolute;
  bottom: -1px;
}

.footer-author-site {
  font-size: 12px;
  line-height: 18px;
  color:  var(--basic-white);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  width: 190px;
}
.footer-author-site-info {
  width: 100%;
  margin: 0;
  margin-top:  16px;
}
.footer-author-site-link {
  color: var(--basic-white);
  border-bottom: 1px solid  var(--basic-bg-color);
}


/* Set the size of the div element that contains the map */
#map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}
